<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ma interface Devstips</title>

        <script src="https://unpkg.com/vue@next"></script>
        
    </head>
    <body>
        <div id ="app"> 
            <h1> La page d'acceuil</h1>
            <input type="text" v-model="message" />
            <a href="#" @click="ajouterLanguage"> Ajouter </a>  <br>
            {{message}}

            <div class="container">
               <div class="row">
              
                   <p class="jumbotron"> Login : <input type="text" v-model="user"/> <br> Vous êtes connecté en tant que {{ user }}</p>
               </div>
               <h1 class="display-4"> Languages disponibles</h1>
               <div class="row">
                   <div class="col-3" v-for="language in languages":key="language.id" @click="inverser">
                        <p class="jumbotron"> {{ language.content }}</p>
                   </div>
                </div>
           </div> 
       </div>

        <script>
            const vm = Vue.createApp({
                data(){
                    return{
                        message: "Hello world ! ",
                        user :"Ulysse",
                        languages: [ 
                            { id:'language-0 html', content: "Html"},
                            { id:'language-1 css', content: "Css"},
                            { id:'language-2 c', content: "C"},
                            { id:'language-3 cmore', content: "C++"} ,
                            { id:'language-4 java', content: "Java"},
                            { id:'language-5 javascript', content: "Javascript"},
                            { id:'language-6 jquery', content: "Jquery"},
                            { id:'language-7 python', content: "Python"},
                            { id:'language-8 symfony', content: "Symfony"}  
                        ],
                    commandes: []
                    }
                },
                methods:{
                    inverser(){
                        this.languages.reverse();
                    },
                    ajouterLanguage(){
                        this.languages.push(this.message);
                    }
                }
            }).mount('#app') 
 
        </script>
    </body>
</html>