<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ma interface Devstips</title>

        <script src="https://unpkg.com/vue@next"></script>
        
    </head>
    <body>
        <div id ="app"> 
            <h1> La page d'acceuil</h1>
            <ajout @ajouterLanguage></ajout>
           

            <div class="container">
               <div class="row">
              
                   <p class="jumbotron"> Login : <input type="text" v-model="user"/> <br> Vous êtes connecté en tant que {{ user }}</p>
               </div>
               <h1 class="display-4"> Languages disponibles</h1>
               <div class="row">
                   <div class="col-3" v-for="language in languages":key="language.id" @click="inverser">
                        <p class="jumbotron"> {{ language.content }}</p>
                   </div>
                </div>
           </div> 
            
           <note v-for="todo in todos" vbind:content="Mon nouveau contenu"></note>
       </div>

        <script>
            const vm = Vue.createApp({
                data(){
                    return{
                         
                        user :"Ulysse",
                        languages: [ 
                            { id:'language-0 html', content: "Html"},
                            { id:'language-1 css', content: "Css"},
                            { id:'language-2 c', content: "C"},
                            { id:'language-3 cmore', content: "C++"} ,
                            { id:'language-4 java', content: "Java"},
                            { id:'language-5 javascript', content: "Javascript"},
                            { id:'language-6 jquery', content: "Jquery"},
                            { id:'language-7 python', content: "Python"},
                            { id:'language-8 symfony', content: "Symfony"}  
                        ],
                        todos: [ "Sauver le monde", "Boire un café", "Apprendre Vue JS"],
                    commandes: []
                    }
                },
                methods:{
                    inverser(){
                        this.languages.reverse();
                    },
                    ajouterLanguage(message){
                        this.languages.push( message); 
                    }
                }
            })
            
            vm.component('note', {
                props: ['content'],
                template: ` <p> {{ content }} </p> `
            });

            vm.component('ajout', {
                props:[],
                emits: ['nouvellelanguage'],
                data(){
                    return{
                        interne: "Nouveau language"
                    }
                },
                method:{
                    enregistrerLanguage(){
                        this.$emit('nouvelleLanguage', this.interne);
                        this.interne='';
                    }
                },
                template: ` 
                    <input type="text" v-model="interne"/>
                    <a href="#" @click="enregistrerLanguage" v-if=" interne != '' ">  Ajouter </a>
                    <br/>{{interne}}
                    `
            })
            vm.mount('#app') 
 
        </script>
    </body>
</html>